
@{
    ViewBag.Title = "GioiThieu_65130650";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN</h2>
Mã sinh viên: 65130650
<br /> 
Họ và tên: Trần Mai Ngọc Duy
<br />
Lớp: 65.CNTT-1
<br />
Ngày kiểm tra: 25/10/2025
