
@{
    ViewBag.Title = "Gioithieu_65130650";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>THÔNG TIN SINH VIÊN DỰ THI</h2>
<br />
Mã số SV: 65130650
<br />
Họ và tên: Trần Mai Ngọc Duy
<br />
Ngày Thi: 31/10/2025
<br />
Học phần: Phát triển ứng dụng web
<br />
@Html.ActionLink("Về trang Tìm kiếm", "Index", "TinTucs_65130650", null, new { @class = "btn btn-primary" })

